<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>

<body>
<table class="layui-hide" id="musictable" lay-filter="musicfilter"></table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">移除</a>
</script>
</body>
<script src="../layui/layui.all.js" type="text/javascript"></script>
<script src="../js/user.js" type="text/javascript"></script>
</html>